.navbar{
    background-color: #343a40;
}

.navbar .navbar-brand{
    color: #fff;
}

.navbar .nav-link{
    color: #fff !important;
    text-decoration: none !important;
    margin-right: 20px;
    border:1px solid #fff;
    border-radius: 15px;
}

@media (max-width: 576px) {
    .navbar .nav-link{
        margin-right: 0;
    }
}

@media (max-width: 577px) {
  
  .navbar{
    font-size: 10px;
    padding: 10px;
    margin: 0;
  }

  .navbar .navbar-brand{
    color: #fff;
    font-size: 15px;
  }

  .navbar .nav-link{
    margin-right: 10px;
  }

  .navbar {
    display: none;
  }
}

@media (max-width: 390px) {
  
  .navbar{
    font-size: 10px;
    padding: 10px;
    margin: 0;
  }

  .navbar .navbar-brand{
    color: #fff;
    font-size: 12px;
  }

  .navbar .nav-link{
    margin-right: 12px;
  }

  .navbar {
    display: none;
  }
}
